{% extends "layout.html" %}

{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="chart-container" style="position: relative; height:20vh; width:40vw">
    <canvas id="myChart" width="100" height="100"></canvas>
</div>

<div class="chart-container" style="float:right; width: 20vw">
<form action="/" method="post" >
 
    Select period of time:
    <select name="days" style="width: 10vw" class="form-group">
                <option value=30>Last 30 Days</option>
                <option value=20>Last 20 Days</option>
                <option value=10>Last 10 Days</option>
                <option value=7>Last 7 Days</option>
                <option value=5>Last 5 Days</option>

    </select>
    <button class="btn btn-primary" type="submit" style="width: 10vw">View</button>
</form>
</div>


<script>

var ctx = document.getElementById('myChart').getContext('2d');

let data = {{ data|safe }};

var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ dates }},
    datasets: []
  },
options: {
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            }]
        }
    }
});

let colorList = ['#C0392B', '#2980B9', '#9B59B6', '#16A085', '#F1C40F', '#E67E22', '#707B7C', '#ff0000'];
let j = 0;

for (let [key, value] of Object.entries(data)) {
  console.log(`${key}: ${value}`);
  myChart.data.datasets.push({
    label: key,
    borderColor: colorList[j],
    data: value,
    fill: false
    });
    myChart.update();
    j++;
}





</script>
{% endblock %}