{% extends "layout.html" %}

{% block title %}
    New Habit
{% endblock %}

{% block main %}
    <form action="/new" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="habit" placeholder="Habit Name" type="text">
            <select name="type" id="type">
                <option value="binary">Binary / Yes or No </option>
                <option value="scale">Scale 1-10</option>
              </select>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}